h1 {
  background-image: linear-gradient(to right,#3b6cc2,#230555);
}

.display-off {
  display: none;
}

/* Search Section Style Begin */
#search-city {
  font-size: 15px;
}

#search-history {
  border-top: solid 2px #7a7a7a;
}

.search-history-item {
  background-color: #b7b7b7;
}
/* Search Section Style End */

/* Weather Info Section Style Begin */

.current-day-info {
  border: solid 2px #8c8c8c;
}

.temp, .wind, .humidity, .UV {
  font-size: 20px;
}

.UV {
  display: flex;
}

.favorable {
  background-color: #157e51;
}

.moderate {
  background-color: #8B8000;
}

.severe {
  background-color: red;
}

.forecast-info {
  width: 20%;
  background-color: #33475a;
  padding: 5px;
}

.forecast-temp, .forecast-wind, .forecast-humidity {
  font-size: 18px;
} 
/* Weather Info Section Style End */